.container {
    position: relative;
    margin: 20px;
    align-content: center;
  }

.plot-box {
    position: relative;
    border: 1px solid black;
    width: 1220px;
    height: 730px;
}

.plot{
    width: 1200px;
    height: 700px;
}