<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vaillant log</title> 
    <script src="d3.v7.min.js"></script>  
    <link rel="stylesheet" href="plotStyle.css" />
  </head>
  <body>
    <ul>
      <li>
        <h2>Temperatury</h2>
        <div class="plot-box">
          <div class="plot" id="plot-temp"></div>
          <script src="plotTemp.js" type="module"></script>
        </div>
      </li>
      <li>
        <h2>Parametry kotła</h2>
        <div class="plot-box">
          <div class="plot" id="plot-parms"></div>
          <script src="plotParms.js" type="module"></script>
        </div>
      </li>
      <li>
        <h2>Parametry kotła</h2>
        <div class="plot-box">
          <div class="plot" id="plot-energy"></div>
          <script src="plotEnergy.js" type="module"></script>
        </div>
      </li>
    </ul>
  </body>
</html>
